.main_chat__contents__messages
  .main_chat__contents__messages__info
    .main_chat__contents__messages__info__user_name
      = message.user.name
    .main_chat__contents__messages__info__created_date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main_chat_contents__messages__content 
    - if message.text.present? 
      .main_chat__contents__messages__content_text
        = message.text
        = image_tag message.image.url, class: 'chat_main_img' if message.image.present?