.side_bar
  .side_bar__header
    .side_bar__header__name_box
      .side_bar__header__name_box__user_name
         = current_user.name
      .side_bar__header__name_box__menu
        =link_to "#", class: "side_bar__btn side_bar__btn__" do
          <i class="fas fa-edit"></i>
            
        =link_to "#", class: "side_bar__btn side_bar__btn__" do
          <i class="fas fa-cog"></i>
          
  .side_bar__groups
    .side_bar_group_box
      .side_bar__groups__group_box__name_box
        sample
      .side_bar__groups__group_box__message_box
        Hello World!
   
  


